img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
h4 {
  margin: 5px;
}
.intro {
  font-weight: bold;
  margin-left: 50px;
}
.tb1 {
  margin-left: 50px;
  background-color: #3366ff;
  margin-right: 75%;
  margin-top: 30px;
}
.tb2 {
  border: 2px solid black;
  border-collapse: collapse;
  margin-left: 50px;
}
.contact {
  background-color: #3366ff;
  margin-left: 50px;

  margin-right: 85%;
  margin-top: 30px;
}
a:visited {
  color: black;
}
a:active {
  color: black;
}
a:hover {
  color: #cc2900;
}
.signature {
  height: 50px;
  margin-left: 50px;
}
.name {
  margin-left: 50px;
  margin-top: 0px;
}
footer {
  text-align: center;
}
